.if {
  font-size: 30px;
  transition: .5s linear all;
}

.if.ng-enter {
  font-size: 0;
}

.if.ng-enter.ng-enter-active {
  font-size: 30px;
}

.if.ng-leave {
	opacity: 1;
}

.if.ng-leave-active {
	opacity: 0;
}